<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="global.css">
</head>
<body>
<div class="center">
<section class="card">
  <form method="post" action="../register.py">
    <label>Username
      <input type="text" name="username" required>
    </label><br>
    <label>Email
      <input type="text" name="email" required>
    </label><br>
    <label>Password
      <input type="password" name="password" required>
    </label><br>
    <label>Confirm Password
      <input type="password" name="password_confirm" required>
    </label><br>
    <button type="submit">Register</button>
  </form>
</section>
</div>
</body>
</html>